.vscrolltext-content {
  position: relative;
  border: 1px solid #999;
  background: #000;
  color: #fff;
  overflow: auto;
  height: 200px;
  width: 320px;
  flex: 1; 
  min-width: 0;
  flex-direction: column !important;
  justify-content: flex-start !important;
}

.vscrolltext-content span.cell {
  width: 300px;
  overflow: visible;
  max-width: 100%;
  
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.vscrolltext-control-container {
  display: flex;
  margin-top: 6px;
}

.vscrolltext-control-cascade-container {
  display: flex;
  visibility: collapse;
  margin-left: 6px;
}

.vscrolltext-control-cascade-container.visible {
  visibility: visible;
}

.vscrolltext-control-cascade-container button {
  margin-right: 5px;
}
